@{
    ViewData["Title"] = "Home Page";
    @model Popravi.Mvc.Models.RolesViewModel;
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <strong> @TempData["success"] </strong>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <strong> @TempData["error"] </strong>
    </div>

}

<h1>Ovo je moja pocetna strana</h1>

