
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Popravi.Mvc.Models.ChangePasswordViewModel
}

<h1>Izmena lozinke</h1>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <strong> @TempData["success"] </strong>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <strong> @TempData["error"] </strong>
    </div>

}

<form method="post" asp-action="EditPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="OldPassword" class="col-md-4 col-form-label text-md-right">Stara lozinka</label>
        <div class="col-md-6">
            <input asp-for="OldPassword" type="password" id="password" class="form-control" name="OldPassword">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewPassword" class="col-md-4 col-form-label text-md-right">Nova lozinka</label>
        <div class="col-md-6">
            <input asp-for="NewPassword" type="password" id="newpassword" class="form-control" name="NewPassword">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewPasswordConfirm" class="col-md-4 col-form-label text-md-right">Ponovi lozinku</label>
        <div class="col-md-6">
            <input asp-for="NewPasswordConfirm" type="password" id="newpasswordconfirm" class="form-control" name="NewPasswordCOnfirm">
            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
            Izmeni lozinku
        </button>
    </div>
</form>